/* 第二页 */
.secPage {
    width: 100%;
    height: 100%;
    background-color: #000;
}
/* 第二页顶部 */
.secPage > .top {
    height: auto;
    width: 100%;
    /* background-color: red; */
}
.secPage > .top > .welcome {
    padding: 8px 0px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
}
/* 第二页导航栏 */
.secPage > .nav {
    height: 80px;
    /* background-color: red; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.secPage > .nav > dl {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.secPage > .nav > dl > dt {
    padding: 0px 20px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    transition: all .3s linear;
}
.secPage > .nav > dl > dt:hover {
    border: 1px solid #fff;
}
/* 第二页主要内容区 */
.secPage > .mainCon {
    width: 80%;
    margin: 0 auto;
    height: 83%;
    /* background-color: red; */
    padding: 5px 0px 0px 0px;
    /* border-top: 1px solid #fff; */
}
/* 成员概况 */
.secPage > .mainCon > .classCondition {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}
/* 成员概况 > 成员表格 */
.secPage > .mainCon > .classCondition > .students {
    width: 59.5%;
    height: 100%;
    /* background-color: red; */
}
.secPage > .mainCon > .classCondition > .students > .tableTitle {
    height: auto;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}
.secPage > .mainCon > .classCondition > .students > table {
    width: 100%;
}
.secPage > .mainCon > .classCondition > .students > table th, td {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    padding: 4px;
}
.secPage > .mainCon > .classCondition > .students > table th {
    font-weight: 500 !important;
}

/* 分页按钮 */
.secPage > .mainCon > .classCondition > .students > .pageBtn {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-right: 20px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.secPage > .mainCon > .classCondition > .students > .pageBtn > div {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    line-height: 25px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}
.secPage > .mainCon > .classCondition > .students > .pageBtn > div:hover {
    border: 1px solid #fff;
}

/* 成员概况 > 成员分析 */
.secPage > .mainCon > .classCondition > .analysis {
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* 成员概况 > 成员分析 > 成员分布图 */
.secPage > .mainCon > .classCondition > .analysis > .distribution {
    width: 100%;
    height: 60%;
    /* background-color: red; */
}
/* 成员概况 > 成员分析 > 男女比例图 */
.secPage > .mainCon > .classCondition > .analysis > .proportion {
    width: 100%;
    height: 34.5%;
    /* background-color: green; */
}

/* 班级通知 */
.secPage > .mainCon > .classInfo {
    height: 100%;
}
.secPage > .mainCon > .classInfo > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 0px;
}
.secPage > .mainCon > .classInfo > ul > li {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px 140px;
    margin-bottom: 5px;
}
.secPage > .mainCon > .classInfo > ul > li > .con {
    width: 85%;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.secPage > .mainCon > .classInfo > ul > li > .con:hover {
    color: #f40;
}
.secPage > .mainCon > .classInfo > ul > li > .time {
    font-size: 12px;
    color: #888;
    width: 10%;
    height: 20px;
    line-height: 20px;
}

/* 考试安排 */
.secPage > .mainCon > .examAnsign table {
    width: 100%;
}
.secPage > .mainCon > .examAnsign table th, td {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    padding: 4px;
}
.secPage > .mainCon > .examAnsign table th {
    font-weight: 550 !important;
}
.secPage .mainCon .examAnsign .note {
    padding: 20px 0px;
    width: 100%;
    height: 10%;
    /* line-height: 20px; */
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
}

/* 班级荣誉 */
.secPage > .mainCon > .classGlory {
    width: 100%;
    height: 100%;
}

/* 集体活动 */
.secPage > .mainCon > .activity {
    width: 100%;
    height: 100%;
}

.secPage .mainCon .classConsume {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

/* 班费支出 */
.secPage .mainCon .classConsume .dateChoice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    /* background-color: red; */
}
.secPage .mainCon .classConsume .dateChoice li {
    width: 150px;
    height: 30px;
    /* background-color: blue; */
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 3px;
}
.secPage .mainCon .classConsume .dateChoice li:hover {
    border: 1px solid #fff;
}
.secPage .mainCon .classConsume .showCon {
    width: 100%;
    height: calc(100% - 30px);
    /* background-color: blue; */
}
.secPage .mainCon .classConsume .showCon div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    /* background-color: yellow; */
}

.secPage > .mainCon > .classConsume table {
    width: 100%;
    border-top: 1px solid #fff
}
.secPage > .mainCon > .classConsume table th, td {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    padding: 4px;
}
.secPage > .mainCon > .classConsume table th {
    font-weight: 550 !important;
}
.secPage > .mainCon > .classConsume .MoenyDetail {
    border-top: 1px solid #fff;
    height: 50px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 成绩概况 */
.secPage .mainCon .studyCondition {
    width: 100%;
    height: 100%;
}
.secPage .mainCon .studyCondition .nav {
    height: 30px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.secPage .mainCon .studyCondition .nav li {
    height: 30px;
    box-sizing: border-box;
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 3px;
    transition: all .5s;
    cursor: pointer;
    line-height: 28px;
    width: 150px;
    text-align: center;
    font-size: 15px;
}
.secPage .mainCon .studyCondition .nav li:hover {
    border: 1px solid #fff;
}
.secPage .mainCon .studyCondition .showCon {
    width: 100%;
    height: calc(100% - 30px);
    /* background-color: red; */
}
.secPage .mainCon .studyCondition .showCon div {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.secPage .mainCon .studyCondition .showCon div .subChoice {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}
.secPage .mainCon .studyCondition .showCon div .subChoice li {
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 80px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
    font-weight: 700;
    font-size: 13px;
    border-radius: 3px;
}
.secPage .mainCon .studyCondition .showCon div .subChoice li:hover {
    border: 1px solid #fff;
}
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 60px);
    /* background-color: red; */
    /* opacity: .5; */
}
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details .grade {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    /* background-color: wheat; */
    overflow: auto;
    padding: 0px 10px;
}
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details .grade::-webkit-scrollbar {
    display: none;
}
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details .grade .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details .grade .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details .grade li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details .grade li span {
    width: 25%;
    text-align: center;
}
/* 成绩图表区 */
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details .chartWrap {
    width: 59%;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.secPage .mainCon .studyCondition .showCon .GRADE-2019-2020 .details .chartWrap .grade-countChart {
    /* position: relative; */
    width: 710px;
    height: 505px;
    /* padding: 20px; */
    /* box-sizing: border-box; */
    /* background-color: red; */
}

/* 其他成绩 */
.secPage .mainCon .studyCondition .showCon .GRADE-OTHER {
    width: 1250px;
    height: 530px;
    overflow: hidden;
    padding: 30px 0px 0px 55px;
    box-sizing: border-box;
}



