.active {
    background-color: #fff;
    color: #000 !important;
    /* font-weight: 700 !important; */
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.template {
    display: none !important;
}

.appear {
    display: block !important;
}

.none {
    text-align: center;
    margin: 150px auto;
}

